{% extends 'auth/base.html' %}

{% block title %}Log In{% endblock %}

{% block body %}
  <form class="login-form" action="" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="errors">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}            
        </ul>
      {% endif %}
    {% endwith %}
    <div class="login-input">
      <label for="username">Username:</label></br>
      <input type="text" id="username" name="username" placeholder="Your username" required>
    </div>
    <div class="login-input">
      <label for="password">Password:</label></br>
      <input type="password" id="password" name="password" placeholder="Your password" required>
    </div>
    <input type="submit" value="Login">
  </form>
{% endblock %}