{% extends 'auth/base.html' %}

{% block body %}
  {% if users %}
  <h1>Users are:</h1>
  <table class="user-list-table">
    <tr>
      <th>Name:</th>
      <th>Username:</th>
      <th>Is Superuser:</th>
      <th>Permissions:</th>
      <th>Actions:</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.is_superuser }}</td>
        <td>
          {% if user.permissions %}
            <ul>
              {% for permission in user.permissions %}
                <li>{{ permission.model }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
        <td>edit</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <h1>No users found</h1>
  {% endif %}
{% endblock %}