{% extends 'auth/base.html' %}

{% block head %}
  {{ super() }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">$CURRENT_USER_ID = {{ g.user.id|tojson|safe }}</script>

  {# Load script for AJAX removing users#}
  <script type="text/javascript" src="{{ url_for('auth.static', filename='auth/ajax_delete_user_from_table.js') }}"></script>
{% endblock %}

{% block body %}
  {% if users %}
  <h1>Users are:</h1>
  <table class="user-list-table">
    <tr>
      <th>Name:</th>
      <th>Username:</th>
      <th>Is Superuser:</th>
      <th>Permissions:</th>
      {% if can['change'] or can['delete'] %}
      <th>Actions:</th>
      {% endif %}
    </tr>
    {% for user in users %}
      <tr id="row-{{ user.id }}">
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.is_superuser }}</td>
        <td>
          {% if user.permissions %}
            <ul>
              {% for permission in user.permissions %}
                <li>{{ permission.model }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
        {% if can['change'] or can['delete'] %}
          <td>
            {% if can['change'] %}
            <a href="{{ url_for('auth.change_user', id=user.id) }}"><button>Change</button></a>
            {% endif %}
            {% if can['delete'] %}
            <a class="delete-button" href="{{ url_for('auth.delete_user', id=user.id) }}"><button>Delete</button></a>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <h1>No users found</h1>
  {% endif %}
  {% if can['add'] %}
    <a href="{{ url_for('auth.add_user') }}"><button>Add user</button></a>
  {% endif %}
{% endblock %}