{% extends 'base/base.html' %}
{% block title %}Test Task for Alar Studios{% endblock %}
{% block body %}
  <div>
    <h1>Solution for test tasks:</h1>
    <ul>
      <li><a href="{{ url_for('auth.user_list') }}">Task 1: User list</a></li>
      <li>
      	<p>Task2:</p>
      	<ul>
      		<li><a href="{{ url_for('datapoint.collect_data') }}">Single access point for all sources that provides merged and sorted data</a></li>
      		{% for id in (1, 2, 3) %}
      			<li><a href="{{ url_for('datapoint.get_data', id=id) }}">Data from Source {{ id }}</a></li>
      		{% endfor %}
      	</ul>
      </li>

    </ul>
  </div>
{% endblock %}